.header {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;

  background-color: var(--background-2);

  .sitename {
    font-weight: bold;
    font-size: larger;
    font-family: "Roboto" sans-serif;
  }

  .sitename_accent {
    color: var(--accent);
  }
}
